#blog{
	// blog list 블로그 리스트 관련 css
	.item{
		padding: 20px;

		.box{
			position: relative;

			.image{
				position: relative;
			}

			.content{
				padding: 20px 10px;

				h3{
					font-size: 30px;
				}

				p{
					margin: 15px 0;
				}

				.date{
					display: flex;
    				align-items: center;

					.icon{
						margin-right: 10px;
					}
				}

			}
		}
	}

}

// moblie 화면에서의 blog list
@media only screen and (max-width: 800px){
	#blog .item{
		padding: 10px;
		.content{
			padding: 20px 10px;

			h3{
				font-size: 20px;
			}
		}
	}
}
